/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}






/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	max-width: 100%;
	margin: 0 auto;
  }
  
  /* Navigation */
  .main-header .navbar {
	padding: 10px;
	display: flex;
  }
  
  .main-header .navbar ul {
	  display: flex;
	  margin: 0 5%;
  }
  
  .main-header .navbar ul li {
	margin: 0 5%;
  }
  
  .main-header .navbar ul li a {
	color: #ccc;
	text-decoration: none;
	padding: 2%;
	margin: 0 20%;
	font-size: 20px;
  }
  
  .logo {
	margin-left: 35%;
  }
  
  /* Hero section */
  .main-header .caption {
	display: inline;
	text-align: center;
  }
  
  .main-header .caption h1 {
	font-size: 75px;
	display: inline-block;
	padding: 5px;
	margin: 10% 0 2% 10%;
  }
  
  .main-header .caption a {
	padding: 0 20px 0 20px;
	border: #333 1px solid;
	color: #333;
	text-decoration: none;
	margin: 0 0 0 16%;
	font-size: 20px;
  }
  
  .main-header .header-img {
	margin: -25% 0 8% 70%;
  }
  
  /* Content section */
  .content-section .container .context-box {
	  display: flex;
	  flex-direction: row;
	  max-width: 100%;
  }
  
  .content-section .content-box-top {
	width: 50%;
	padding: 5%;
  }
  
  .content-section .content-box h1 {
	font-size: 30px;
  }
  
  .content-section .content-box p {
	font-size: 18px;
  }
  
  .content-section .middle-img {
	display: block;
	margin: 0 auto;
	width: 100%;
  }
  
  .content-section .content-box-bottom {
	display: inline-block;
	max-width: 300px;
	margin: 2% 0 2% 8%;
	padding: 20px;
  }
  
  /* Footer */
  footer h1 {
	margin-top: 2%;
  }
  
  /* Margin-bottom */
  footer p {
	margin-bottom: 2%;
  }
  
  footer .copyright {
	text-align: center;
  }




  /*Beginning CSS code for services.html project*/
body {
	max-width: 1200px;
	margin: 0 auto;
}

.header-section .container2 .nav-bar ul {
	display: flex;
	justify-content: space-evenly;
}

.nav-bar ul li a {
	color: gray;
	text-decoration: none;
	display: flex;
	justify-content: space-evenly;
}

.header-section .services-header .services-img {
	display: flex;
	justify-content: center;
	width: 1200px;
	margin: 1% 0;
}

.container2 h1 {
	font-size: 28px;
}

/*Middle section*/

.middle-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.middle-page-box {
	width: 43%;
	padding: 2%;
	margin: 2%;
	background-color: lightgray;
}

button {
	color: black;
	background-color: gray;
	border: 1px solid black;
	margin: 3% 0 0 0;
}

.bottom-of-page {
	display: flex;
	justify-content: space-evenly;
}

.footer-bottom-stuff {
	width: 40%;
}

.copyright-bottom {
	display: flex;
	justify-content: center;
}


